.model_view {
    position: relative;
    margin-top: -60vh;
    /* z-index: 10; */
}

model-viewer {
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    /* margin-top: -60vh; */
    /* z-index: 11; */
}

.content {
    display: none;
}